snippet inc
#include <$1>
endsnippet

snippet std
using namespace std;
endsnippet

snippet main
int main() {
    $1
    return 0;
}
endsnippet

snippet amain
int main(int arch, char** argv) {
    $1
    return 0;
}
endsnippet
