.git/*
.DS_Store

# neovim
nvim/autoload/plug.vim
nvim/plugged/*
nvim/.netrwhist
nvim/thesaurus/*

# ranger
ranger/plugins/*

# vscode
vscode/*Storage
vscode/*History
vscode/sync

# wm
wm/awesome/vicious

# zsh
shell/zsh/.zsh_sessions
shell/zsh/.zsh_history
shell/zsh/.zcompdump

# ghc
home/.ghc/ghci_history

# pgcli
xdg_config/pgcli/history
xdg_config/pgcli/log

# install
install/node_modules

# custom
local_aliases
