#!/bin/sh

# File:     .xprofile
# Created:  28.03.2020
# Author:   Artyom Danilov (@defytheflow)

# Do not run on WSL.
if [ -n "${WSL_DISTRO_NAME}" ]; then
  return
fi

# Set background image.
if command -v nitrogen >/dev/null; then
  nitrogen --head=xinerama --set-auto "${WALLPAPER_HOME}"
fi

# Change keyboard settings.
if command -v setxkbmap >/dev/null; then
  # Swap <CapsLock> and <Escape>.
  setxkbmap -option 'caps:swapescape'
  # Enable russian keyboard <Shift-Alt>.
  setxkbmap -layout us,ru -option 'grp:alt_shift_toggle'
fi
