
# File:         .inputrc
# Created:      07.09.2020
# Author:       Artyom Danilov (@defytheflow)
# Description:  GNU readline configuration.

# vi-mode.
set editing-mode                     vi
set show-mode-in-prompt
set vi-ins-mode-string               \1\e[5 q\2
set vi-cmd-mode-string               \1\e[2 q\2

# misc.
set colored-stats                    On
set completion-ignore-case           On
set completion-prefix-display-length 3
set visible-stats                    On

# binds.
'\C-p':    history-search-backward
'\C-n':    history-search-forward
Control-l: clear-screen
