# debugger.
snippet br
breakpoint()
endsnippet

snippet ipdb
__import__('ipdb').set_trace()
endsnippet

# print equals.
snippet p=
print(f'{$1=}')
endsnippet

# print object.
snippet po
print("$1 :>> ", $1)
endsnippet

# print pretty.
snippet pp
__import__('pprint').pprint($1)
endsnippet
