# File:     typescritreact.snippets
# Created:  10.11.2020
# Author:   Artyom Danilov (@defytheflow)

snippet sd
screen.debug();
endsnippet

snippet role
screen.getByRole('');
endsnippet

snippet act
await act(async () => {
  $1
});
endsnippet

snippet wait
await waitFor(() => {
  $1
})
endsnippet
